body {
  background-image: url("https://github.com/JimGiouvanakis/JimGiouvanakis.github.io/blob/main/background_image.gif?raw=true");
    background-color: #000;
    
   }
   body {
    color: #ebe7ec;
    text-align: center;
    font-size: large;
  }
  h2 {
    color: rgb(186, 194, 111);
  }
  h1 {
    color: #ebe7ec;
    text-align: center;
    text-decoration: underline;
  }

  .button {
    border: none;
    color:  #ebe7ec;
    background-color: transparent;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
  }
   


  .button:hover {
    border: 3px solid #ebe7ec; 
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border-radius: 50%; 
    box-shadow: 0 0 10px 0 #ebe7ec inset, 
    0 0 20px 2px #ebe7ec;
    background-color: rgba(240, 248, 255, 0);
    
  }

  /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 255px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}